<!DOCTYPE html>
<html>
<head>
    <title>Membuat Desain Form Login HTML Dengan CSS</title>
    <!-- CSS Styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>

<!-- 
Template index.html berfungsi untuk menampilkan form isian nama dan email 
yang akan di action ke root directory ‘/’ yang mengacu pada fungsi view index(),
dengan menggunakan method POST yang artinya nilai yang 
dikirim akan tersembunyi (tidak tampil di URL).
-->
     <div id="container">
        <form action="/" method="POST">
            <img 
                id="logo" 
                src="https://i.ytimg.com/vi/qZDIRzaJ-gk/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLA7gO3hTz4mN_bkQeganj-DGETl0Q" 
            />
            <!-- USERNAME -->
            <label for="Username">Username:</label>
            <input type="text" name="Username" placeholder="Masukan Username">

            <!-- PASSWORD -->
            <label for="password">Password:</label>
            <input type="password" name="Password" placeholder="Masukan Password">


            <input type="submit" value="Login">
            <input type="reset" value="Reset">
          </form>
     </div>
</body>
</html>