<html>
    <head>
        <title>Belajar Membuat Aplikasi Web Python</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <h2>Home</h2>
        <div id="container">
            <img src="{{ url_for('static',filename='img/logo.png')}}" id="logo" width="300px"/>
            <p>{{ kalimat }}</p>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('contactSaya')}}">Kontak Saya</a></li>
            <li><a href="{{ url_for('aboutSaya')}}">Tentang Saya</a></li>
        </ul>
        <p>Ini adalah halaman home pada aplikasi website saya</p>
    </body>
</html>

